/* Estilos generales */
body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to right, #4b6cb7, #182848);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #fff;
}

/* Contenedor principal */
.container {
    width: 360px;
    height: 640px;
    background-color: #222;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    padding: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

/* Ajustes para encabezado y títulos */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 18px;
    margin: 0;
}

.main-title {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}

/* Menú de botones */
.menu {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.menu button {
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s, transform 0.3s;
}

.menu button:hover {
    color: #ff6f61;
}

/* Secciones */
.section {
    display: none;
    transition: opacity 0.3s ease-in-out;
}

.section.active {
    display: block;
    overflow-y: auto; /* Habilita scroll vertical para secciones activas */
    max-height: 400px; /* Ajusta la altura según sea necesario */
}

/* Grupo de entradas */
.input-group {
    margin-bottom: 10px;
}

.input-group input {
    width: 90%;
    padding: 8px;
    border-radius: 10px;
    border: none;
    font-size: 14px;
    margin-bottom: 8px;
    background: #333;
    color: #fff;
}

/* Entradas para tallas y cargas */
.size-entry {
    display: flex;
    margin-bottom: 8px;
}

.size-entry input {
    width: 45%;
    margin-right: 5px;
}

/* Ocultar elementos */
.hidden {
    display: none;
}

/* Resultados de carga */
.carga-result {
    background: #333;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    max-height: 150px; /* Limita la altura y habilita el scroll */
    overflow-y: auto;
}

.carga-result p {
    margin: 0;
}

/* Frases motivacionales */
.motivational-quotes {
    margin-top: auto;
    text-align: center;
}

.motivational-quotes p {
    font-size: 16px;
}

/* Estilos para el botón de regreso */
.back-button {
    background: none;
    border: none;
    color: #fff; /* Color blanco para que sea visible */
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 20px; /* Ajusta la posición superior */
    right: 20px; /* Ajusta la posición izquierda */
    transition: color 0.3s;
    z-index: 10; /* Asegura que esté por encima de otros elementos */
}

.back-button:hover {
    color: #ff6f61; /* Cambia de color al pasar el ratón */
}
